
<form class="login-form" [formGroup]="formRegister">
  <div style="display: flex; justify-content: center;">
    <img src="/assets/img/logo-company.png" alt="logo"  style="width: 200px;"/>
  </div>

    <h2>Registro</h2>
    <div>
      <h3>Nombre</h3>
      <mat-form-field appearance="outline" class="input">
        <input
          type="text"
          matInput
          placeholder="Nombre"
          formControlName="name"
        />
        <div matSuffix >
          <img src="assets/icons/mail.svg" alt="mail" />
        </div>
        <mat-error>Ingrese un nombre válido</mat-error>
      </mat-form-field>
  </div>
    <div>
        <h3>Email</h3>
        <mat-form-field appearance="outline" class="input">
          <input
            type="text"
            matInput
            placeholder="Correo"
            formControlName="mail"
          />
          <div matSuffix >
            <img src="assets/icons/mail.svg" alt="mail" />
          </div>
          <mat-error>Ingrese un correo válido</mat-error>
        </mat-form-field>
    </div>
    <div>
        <h3>Contraseña</h3>
        <mat-form-field appearance="outline" class="input">
          <input
            type="password"
            matInput
            placeholder="Contraseña"
            formControlName="new_password"
          />
          <div matSuffix *ngIf="true">
            <img src="assets/icons/password.svg" alt="pass"/>
          </div>
          <mat-error>Ingrese una contraseña valida</mat-error>
        </mat-form-field>
    </div>
    <div>
      <h3>Validar Contraseña</h3>
      <mat-form-field appearance="outline" class="input">
        <input
          type="password"
          matInput
          placeholder="Contraseña"
          formControlName="password_confirmation"
          [errorStateMatcher]="matcher"
        />
        <div matSuffix *ngIf="true">
          <img src="assets/icons/password.svg" alt="pass"/>
        </div>
        <mat-error *ngIf=" formRegister.get('password_confirmation')?.touched && formRegister.hasError('match_password')">Las contraseñas deben ser iguales</mat-error>
      </mat-form-field>
  </div>

    <button type="button"  (click)="register()">Registrar</button>
</form>
